In [1]:
# Import basic libraries
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

from statsmodels.stats.outliers_influence import variance_inflation_factor

# import datawig
# import missingno as msno

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

%matplotlib inline

print('Imports complete!')

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Imports complete!

In [2]:
df_CV = pd.read_csv('msn_cv_adsorption.csv', index_col=None)

df_CV.head(3)

   Time Functional_group  Dose  Initial_conc    pH  Removal_eff
0    60              MSN   0.5            20  3.15    16.173511
1    60              MSN   0.5            20  4.95    39.461475
2    60              MSN   0.5            20  7.56    68.610607

In [11]:
df_MO = pd.read_csv('msn_mo_adsorption2.csv', index_col=None)

df_MO.head(3)

   Time Functional_group  Dose  Initial_conc    pH  Removal_eff
0    60              MSN   1.0            20  3.22    11.154369
1    60              MSN   1.0            20  4.99     2.798095
2    60              MSN   1.0            20  7.02     1.187120

## Handles categorical data

In [3]:
from sklearn.preprocessing import LabelEncoder


def calculate_vif(df, output_var=None, include_output=False, categorical_vars=None):
    """
    Calculate VIF for variables in the DataFrame, using LabelEncoder for categorical variables.
    
    Parameters:
    - df: pandas DataFrame containing data
    - output_var: str or None, name of the output variable column
    - include_output: bool, whether to include the output variable in VIF calculation
    - categorical_vars: list of str or None, names of categorical variable columns
    
    Returns:
    - vif_df: DataFrame with variables and their VIF values
    """
    if output_var and not include_output:
        X = df.drop(columns=[output_var]).copy()
    else:
        X = df.copy()
    
    if categorical_vars:
        le = LabelEncoder()
        for col in categorical_vars:
            X[col] = le.fit_transform(X[col].astype(str))
    
    vif_data = {
        'Variable': X.columns,
        'VIF': [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    }
    
    return pd.DataFrame(vif_data)

In [8]:
vif_result = calculate_vif(df_CV, output_var='Removal_eff', include_output=False, categorical_vars=['Functional_group'])
print("<--------For CV dye-------->\n")
print(vif_result)

<--------For CV dye-------->

           Variable       VIF
0              Time  3.969848
1  Functional_group  2.346267
2              Dose  2.748553
3      Initial_conc  4.493250
4                pH  5.993487

In [12]:
vif_result = calculate_vif(df_MO, output_var='Removal_eff', include_output=False, categorical_vars=['Functional_group'])
print("<--------For MO dye-------->\n")
print(vif_result)

<--------For MO dye-------->

           Variable       VIF
0              Time  4.355599
1  Functional_group  2.388328
2              Dose  3.313633
3      Initial_conc  3.751026
4                pH  7.789567